__pycache__/
*.pyc
data/generated/
results/**/*.pt
*.log
results/uc12/fixpolicy_probs.npz
results/uc12/ltf_probs.npz
results/uc12/ltfx_probs.npz
results/uc12/hybrid_probs.npz
results/uc24/uc24ltf_probs.npz
results/**/*.out
